.hello {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:after,
  &:before {
    content: '';
    @include center($extend: false);
    background-color: $sea-blue;
  }

  &:after {
    width: 100%;
    height: 100%;
    opacity: .7;
  }

  &:before {
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    opacity: .61;
  }
}

.welcome {
  @include center($extend: false);
  position: relative;
  width: 100%;
  max-width: 80%;
  font-family: Gotham-Book;
  color: $gray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 100;

  .logo {
    margin: 0 auto remcalc(50);
  }

  .header {
    @include just-size(16);
    padding: 0 0 remcalc(25);
  }

  .description {
    @include just-size(10);
    line-height: remcalc(28);
    padding: 0 0 remcalc(15);
  }

  .link-to {
    color: $gray;
  }
}

