.hello {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/background.png');
  background-color: $sea-blue;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:after,
  &:before {
    content: '';
    @include center($extend: false);
  }

  &:after {
    width: 100%;
    height: 100%;
    background-color: $sea-blue;
    background-blend-mode: multiply;
    opacity: .1;
  }

  &:before {
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    background-color: $deep-sea-blue;
    background-blend-mode: multiply;
    opacity: .31;
  }
}

.welcome {
  @include center($extend: false);
  position: relative;
  width: 100%;
  font-family: Gotham-Book;
  color: $gray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 100;

  .logo {
    margin: 0 auto remcalc(50);
    max-width: 80%;
  }

  .header {
    @include just-size(16);
    padding: 0 0 remcalc(25);
  }

  .description {
    @include just-size(10);
    max-width: 85%;
    margin: 0 auto;
    line-height: remcalc(20);
    padding: 0 0 remcalc(30);
  }

  .link-to {
    color: $gray;
  }
}

